<!DOCTYPE html>
<html>
<body>
	<ul>
		<li class="nav"><a href="/users">Users</a></li>
		<li class="nav"><a href="/addresses">Addresses</a></li>
		<li class="nav"><a href="/tasklists">Tasklists</a></li>
		<li class="nav"><a href="/users/new">New User</a></li>
		<li class="nav"><a href="/addresses/new">New Address</a></li>
		<li class="nav"><a href="/tasklists/new">New Tasklist</a><li>
	</ul>
</body>
