<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<form>
		<div class="input">Who are you?<input type="text" name="name"></div></br>
		<div class="input">What's your major?
		<input type="radio" name="major" value="y">Comp sci</input>
		<input type="radio" name="major" value="n">Not comp sci</input></div></br>
		<div class="input">What should I put in my salad?
		<input type="checkbox" name="dinner" value="tomatoes">Tomatoes</br>
		<input type="checkbox" name="dinner" value="mushrooms">Mushrooms</br>
		<input type="checkbox" name="dinner" value="chicken">Chicken</br>
		<input type="checkbox" name="dinner" value="peas">Chick peas</br>
		<input type="checkbox" name="dinner" value="cucumber">Cucumber</br>
		<input type="checkbox" name="dinner" value="grapes">Grapes</br></div>
		<input type="submit" value="Thank you">
	</form>
	<img src="http://nutrihealth.in/wp-content/uploads/2011/01/salad.jpg"></br>
	<a href="https://github.com/allegralarche">Check out my github!</a>
</body>