// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 10px;
	//background-image: url("http://www.flicspa.com/images/directions_bg.jpg");
	font-family: Helvetica, Arial;
	font-size: 30px;
	color: white;
}